/* Our CSS file. */

.container{
    width:100%;
    height:auto;
    border:0.5px solid grey;
    background-color: rgb(220, 215, 215);
    }
   .row{
       width: 100%;
       display: block;
       height: 400px;
   } 
   .coloumn{
       width:50%;
       display: inline-block;
       height: inherit;
       float:left;
    }
   